@tailwind base;
@tailwind components;
@tailwind utilities;

/* .playfair {
  font-family: var(--font-playfair), serif;
  font-size: xx-large;
  color: red;
} */

body {
  background-color: #fffdf1;
  color: #010100;
  /* font-family: var(--font-playfair), 'Courier New'; */
}

.hero {
  background-image: '/media/images/insta_sample_line.png';
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.header-image-container {
  position: relative;
  height: 300px;
  width: 100%;
  background-image: url('/media/images/banner_1.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.header-image-container .header-image {
  position: absolute;
}

@media screen and (min-width: 768px) {
  .header-image-container {
      height: 200px;
  }
}

@media screen and (min-width: 1024px) {
  .header-image-container {
      height: 150px;
  }
}
