@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Playfair Black';
  src: url('./fonts/Playfair_Display_SC/PlayfairDisplaySC-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Playfair Bold';
  src: url('./fonts/Playfair_Display_SC/PlayfairDisplaySC-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Playfair Regular';
  src: url('./fonts/Playfair_Display_SC/PlayfairDisplaySC-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Playfair Italic';
  src: url('./fonts/Playfair_Display_SC/PlayfairDisplaySC-Italic.ttf') format('truetype');
}


body {
  background-color: #fffdf1;
  color: #010100;
  /* font-family: var(--font-playfair), 'Courier New'; */
}

.hero .message {
  font-family: "Playfair Regular";
}

.about h1{
  font-family: "Playfair Regular";
}

.about p {
  font-family:  var(--font-pfd), serif;
}

.about-image {
  min-width: 200px;
  height: 200;
  border-style: solid;
  border-width: 4px;
  border-color: blue;
  border-radius: 50%;
  overflow: hidden;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.header-image-container {
  position: relative;
  height: 150px;
  width: 100%;
  background-image: url('/media/images/banner_1.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.header-image-container .header-image {
  position: absolute;
}

/* @media screen and (min-width: 768px) {
  .header-image-container {
      height: 200px;
  }
}

@media screen and (min-width: 1024px) {
  .header-image-container {
      height: 300px;
  }
} */
