@tailwind base;
@tailwind components;
@tailwind utilities;

/* .playfair {
  font-family: var(--font-playfair), serif;
  font-size: xx-large;
  color: red;
} */

body {
  background-color: #fffdf1;
  color: #010100;
  /* font-family: var(--font-playfair), 'Courier New'; */
}

.hero {
  background-image: '/media/images/insta_sample_line.png';
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
